<footer class="fx-vert-center fx-horiz-end fxflex">
  <button
    (click)="endPage('first')"
    class="arrow-button"
    [disabled]="leftArrowDisabled"
  >
    <span class="arrow left end"></span>
  </button>

  <button
    (click)="nextPage(-1)"
    class="arrow-button"
    [disabled]="leftArrowDisabled"
  >
    <span class="arrow left"></span>
  </button>

  <span
    *ngFor="let page of pagesToDisaply$ | async"
    class="page"
    [class.selected]="page.isSelected"
    (click)="changePage(page.number)"
    >{{ page.number }}</span
  >

  <button
    (click)="nextPage(1)"
    class="arrow-button"
    [disabled]="rightArrowDisabled"
  >
    <span class="arrow right"></span>
  </button>

  <button
    (click)="endPage('last')"
    class="arrow-button"
    [disabled]="rightArrowDisabled"
  >
    <span class="arrow right end"></span>
  </button>
</footer>
