@import '../../../styles/vars';
@import '../../../styles/arrow';

.arrow-button {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 800px) {
  .arrow-button {
    position: absolute;
    right: 0;
  }
}
