<ng-container *ngIf="{ companies: filteredCompanies$ | async } as data">
  <div class="table-container">
    <table
      class="companies-table"
      [class.full-height]="data.companies && data.companies.length < 1"
    >
      <thead>
        <tr>
          <th
            *ngFor="let header of avaliableHeaders"
            [ngClass]="header.class"
            (click)="sortTable(header)"
          >
            <app-table-header [header]="header"></app-table-header>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="data.companies && data.companies.length > 0; else noRecords"
        >
          <tr *ngFor="let company of data.companies">
            <td class="column-id" data-label="Id">
              {{ company.id }}
            </td>
            <td data-label="Name">
              {{ company.name }}
            </td>
            <td class="column-details" data-label="City">
              {{ company.city }}
            </td>
            <td class="column-details" data-label="Total">
              {{ company.totalIncome }}
            </td>
            <td class="column-details" data-label="Average">
              {{ company.averageIncome }}
            </td>
            <td class="column-details" data-label="Last month">
              {{ company.lastMonthIncome }}
            </td>
          </tr>
        </ng-container>
        <ng-template #noRecords>
          <td class="text-center" colspan="6">
            Brak rekordów dla danej frazy
          </td></ng-template
        >
      </tbody>
    </table>
  </div>

  <app-table-footer
    [avaliablePages]="avaliablePages"
    [page]="currentPage"
    (changePageNumber)="onChangePageNumber($event)"
  ></app-table-footer>
</ng-container>
