@import '../../styles/vars';

.table-container {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.companies-table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 10px;
  }

  .column-id {
    width: 50px;
  }

  .column-details {
    width: 15%;
  }

  thead {
    tr {
      height: 40px;
    }
    th {
      text-align: left;
      position: sticky;
      top: 0;
      background: #fff;
      box-shadow: 0 1px 0 0 #ddd;
    }
  }
  tbody {
    tr {
      height: 30px;
      &:nth-of-type(odd) {
        background: #eee;
      }
    }
  }
}

@media (max-width: 800px) {
  .companies-table {
    thead {
      display: none;
    }

    tbody {
      tr {
        height: auto;
        border-bottom: 0;
        @include fxrow;
        @include fxrowwrap;
      }

      td {
        padding-top: 25px;
        position: relative;
        width: 50%;
        border-bottom: 1px solid #ddd;
        &:before {
          content: attr(data-label);
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.1);
          padding: 2px 10px;
          font-size: 12px;
        }
      }

      .column-id,
      .column-details {
        width: 50%;
      }
    }
  }
}
