<div class="fxcol full-height">
  <header class="fx-vert-center fxflex fxnoshrink">
    <h1>Compare incomes of companies</h1>
  </header>

  <div class="fxcol fxgrow">
    <app-companies-filter
      class="companies-filter fxnoshrink"
    ></app-companies-filter>
    <app-companies-container
      class="companies-container full-height"
    ></app-companies-container>
  </div>
</div>

<app-loader-indicator
  *ngIf="showLoader$ | async as loader"
  [loader]="loader"
></app-loader-indicator>

<app-error-indicator
  *ngIf="showError$ | async as error"
  [error]="error"
></app-error-indicator>
