@import 'styles/vars';

header {
  background: $main-color;
  height: 50px;
  h1 {
    font-size: 20px;
    color: #fff;
    padding-left: 15px;
  }
  & + div {
    overflow: auto;
  }
}

.companies-filter {
  height: 50px;
}

.companies-container {
  border-top: 1px solid #ddd;
  overflow: auto;
}
