@import 'app/styles/vars';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  * {
    font-family: sans-serif;
  }
}

.fxflex {
  @include fxflex;
}

.fxcol {
  @include fxflex;
  @include fxcol;
}

.fxrow {
  @include fxflex;
  @include fxrow;
}

.fxrowwrap {
  @include fxrowwrap;
}

.fx-vert-center {
  @include fx-vert-center;
}

.fx-horiz-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fx-horiz-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fxgrow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fxnoshrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.clear {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 19px;
  margin: 0 10px;
  &:before,
  &:after {
    content: ' ';
    position: absolute;
    left: 10px;
    height: 20px;
    width: 2px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
